In [3]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [4]:
books_data = pd.read_csv(r'books.csv')

In [5]:
books_data

,Unnamed: 0,User_ID,Book_Title,Book_Rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6
...,...,...,...,...
9995,9996,162121,American Fried: Adventures of a Happy Eater.,7
9996,9997,162121,Cannibal In Manhattan,9
9997,9998,162121,How to Flirt: A Practical Guide,7
9998,9999,162121,Twilight,8
9999,10000,162129,Kids Say the Darndest Things,6

In [6]:
books_data.shape

(10000, 4)

In [7]:
books_data.columns

Index(['Unnamed: 0', 'User_ID', 'Book_Title', 'Book_Rating'], dtype='object')

In [8]:
books_data.describe()

        Unnamed: 0        User_ID  Book_Rating
count  10000.00000   10000.000000  10000.00000
mean    5000.50000   95321.249800      7.56630
std     2886.89568  117645.703609      1.82152
min        1.00000       8.000000      1.00000
25%     2500.75000    2103.000000      7.00000
50%     5000.50000    3757.000000      8.00000
75%     7500.25000  162052.000000      9.00000
max    10000.00000  278854.000000     10.00000

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer 

tfidf = TfidfVectorizer(stop_words="english")

In [16]:
empty_cell = books_data.isnull().any() 
print(empty_cell)

Unnamed: 0     False
User_ID        False
Book_Title     False
Book_Rating    False
dtype: bool

In [17]:
import os
os.chdir(r"C:\Users\LENOVO\OneDrive\Desktop\Data_Science\Data_Science_Assignment\DS-Assignment-10-Recc")

In [20]:
tfidf_matrix_books = tfidf.fit_transform(books_data['Book_Title'])
print(tfidf_matrix_books)

  (0, 6969)	0.6798989461050784
  (0, 2263)	0.733305818254024
  (1, 1817)	0.7071067811865476
  (1, 2253)	0.7071067811865476
  (2, 7167)	0.6625534369282937
  (2, 2934)	0.749014648197554
  (3, 1997)	0.37362521359059986
  (3, 10887)	0.37362521359059986
  (3, 9022)	0.2813160805754238
  (3, 114)	0.35770766385737696
  (3, 7473)	0.37362521359059986
  (3, 5323)	0.37362521359059986
  (3, 4614)	0.23030946840620475
  (3, 9757)	0.2046583436772717
  (3, 4140)	0.37362521359059986
  (4, 10726)	0.7071067811865476
  (4, 6926)	0.7071067811865476
  (5, 11134)	0.5741118863839041
  (5, 4530)	0.5301064251194945
  (5, 5775)	0.6240053845598971
  (6, 5247)	0.4702119328617262
  (6, 5007)	0.4911357837677152
  (6, 6678)	0.4702119328617262
  (6, 4188)	0.4911357837677152
  (6, 11267)	0.27454099911420016
  :	:
  (9993, 7494)	0.7043514860336613
  (9994, 9701)	0.4171831630623902
  (9994, 11277)	0.37701826971292507
  (9994, 10487)	0.39940991461887054
  (9994, 11296)	0.3162511319165422
  (9994, 6109)	0.34663470081473363
  (9994, 10437)	0.33513416683083763
  (9994, 5056)	0.2727127110372571
  (9994, 9114)	0.2264921047811197
  (9994, 4614)	0.25715939133111937
  (9995, 3444)	0.5445276383788942
  (9995, 4280)	0.52733560642111
  (9995, 4794)	0.4408669669853471
  (9995, 559)	0.3740528837691166
  (9995, 740)	0.3018734284549289
  (9996, 1867)	0.7729346008644407
  (9996, 6359)	0.6344856994342173
  (9997, 4128)	0.738845744479217
  (9997, 7985)	0.5367939467017678
  (9997, 4693)	0.4073809330949243
  (9998, 10569)	1.0
  (9999, 2863)	0.6198552770699516
  (9999, 10187)	0.43160719521166174
  (9999, 8906)	0.48047412333862766
  (9999, 5734)	0.4456896693126657

In [34]:
from sklearn.metrics.pairwise import linear_kernel 
cosine_sim_matrix = linear_kernel(tfidf_matrix_books, tfidf_matrix_books)

In [35]:
book_rating_index = pd.Series(books_data.index,index=books_data['Book_Title']).drop_duplicates()

In [38]:
def get_book_recommendations(Book_Title, TopN): 
    
    book_id = book_rating_index[Book_Title]
    
    cosine_scores = list(enumerate(cosine_sim_matrix[book_id]))
    
    cosine_scores = sorted(cosine_scores,key=lambda x:x[1],reverse = True)
    
    cosine_scores_topN = cosine_scores[1:TopN+1] 
    
    book_idx = [i[0] for i in cosine_scores_topN] 
    book_scores = [i[1] for i in cosine_scores_topN] 
    
    books_similar = pd.DataFrame(columns=["Book_Title","Score"]) 
    books_similar["Book_Title"] = books_data.loc[book_idx,"Book_Title"] 
    
    books_similar["Score"] = book_scores 
    
    return books_similar

In [39]:
book_reccomendations = get_book_recommendations("The Mummies of Urumchi", TopN=15)
print(book_reccomendations)

                                           Book_Title  Score
0                                 Classical Mythology    0.0
1                                        Clara Callan    0.0
2                                Decision in Normandy    0.0
3   Flu: The Story of the Great Influenza Pandemic...    0.0
5                              The Kitchen God's Wife    0.0
6   What If?: The World's Foremost Military Histor...    0.0
7                                     PLEADING GUILTY    0.0
8   Under the Black Flag: The Romance and the Real...    0.0
9             Where You'll Find Me: And Other Stories    0.0
10                        Nights Below Station Street    0.0
11  Hitler's Secret Bankers: The Myth of Swiss Neu...    0.0
12                                 The Middle Stories    0.0
13                                           Jane Doe    0.0
14  A Second Chicken Soup for the Woman's Soul (Ch...    0.0
15       The Witchfinder (Amos Walker Mystery Series)    0.0

In [40]:
book_reccomendations = get_book_recommendations("Jane Doe", TopN=15)
print(book_reccomendations)

                                             Book_Title     Score
8621                                        A.K.A. Jane  0.609662
3323                                          Jane Eyre  0.404229
9992                              The Evolution of Jane  0.389248
4894  Jane and the Wandering Eye: Being the Third Ja...  0.387258
6974                       Jane Eyre (Penguin Classics)  0.327441
3476                        Jane Eyre (Bantam Classics)  0.316685
2701                      See Jane Score (Avon Romance)  0.303790
9841                       Jane Austen in Boca: A Novel  0.296293
5642              Jane Eyre (Everyman's Library Series)  0.281568
3666             The Autobiography of Miss Jane Pittman  0.280074
8620                                       Run Jane Run  0.272649
7470          See Jane Date (Red Dress Ink (Paperback))  0.263435
228   Patty Jane's House of Curl (Ballantine Reader'...  0.226709
1396  No Eye Can See (Kirkpatrick, Jane, Kinship and...  0.209439
7917  The Sense and Sensibility: Screenplay &amp; Di...  0.189222

In [41]:
book_reccomendations = get_book_recommendations("Hitler's Secret Bankers: The Myth of Swiss Neutrality During the Holocaust", TopN=15)
print(book_reccomendations)

                                      Book_Title     Score
7325                   We Remember the Holocaust  0.281615
4521                                      Secret  0.263159
8490                               Adolf, Hitler  0.258054
8531                                Adolf Hitler  0.258054
1311            Myth-Ion Improbable (Myth Books)  0.241851
5257                           Another Fine Myth  0.222015
1414     The Power of Myth (Illustrated Edition)  0.189353
9471                   The Great and Secret Show  0.188479
249                               Secret History  0.187214
1913                              Secret History  0.187214
5241                         Secret History, The  0.187214
5298                          The Secret History  0.187214
9454  I Myself Have Seen It: The Myth of Hawai'i  0.175326
3759                           The Secret Garden  0.168611
3374                The Secret (Animorphs, No 9)  0.164709